* {
    font-family: 'Orbitron', monospace;
}

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
    flex: 1 1 30%;
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid black;
    padding: 16px;
    max-width: 30%;
}

.display-container {
    margin: 0 0 12px 0;
}

p {
    margin: 0;
    padding: 0;
}

.primary-display {
    font-size: 24px;
    font-weight: 700;
}

.secondary-display {
    color: gray;
}

.buttons-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

.buttons-container div {
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
}

button {
    box-sizing: border-box;
    flex: 1 1 25%;
    padding: 24px 12px;
}

.operate-btn {
    flex: 1 1 calc(50% + 12px);
}