html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid black;
    padding: 16px;
}

.display-container {
    margin: 8px;
}

.buttons-container {
    display: flex;
    flex-flow: row wrap;
}

button {
    flex: 1 1 25%;
    min-width: 25%;
    padding: 12px;
}

.operate-btn {
    flex: 2 2 50%;
}